.subscription {
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url('/img/bg.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.subscription h1 {
    color: #da9f5b;
    font-size: 50px;
    padding-bottom: 15px;
}

.subscription h2 {
    font-size: 32px;
    padding-bottom: 15px;
}

.subscription h3 {
    font-size: 22px;
    padding-bottom: 15px;
    text-align: center;
}

.subscription form {
    margin-top: 20px;
}

.subscription input {
    width: 300px;
    height: 50px;
    border: none;
    padding-left: 20px;
}

.subscription button {
    width: 80px;
    height: 50.5px;
    margin-left: -5px;
    background-color: #da9f5b;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding-bottom: 2px;
}
.subscription button:hover{
    background-color: #d8a56b;
    transition: ease-in-out 0.5s;
}

.subscription input::placeholder {
    padding-left: 20px;
    font-size: 16px;
}

.subscription input {
    border: 3px solid #ccc;
    outline: none;
    caret-color: #da9f5b;
}

.subscription input:focus {
    border-color: #33211D;
}

@media (max-width:420px) {
    .subscription input {
        width: 250px;
        height: 40px;
    }

    .subscription button {
        width: 50px;
        height: 40px;
        font-size: 12px;
        padding-top: 4px;
    }
}